/* Footer */
.footer a {
    color: white;
}
/* Input Form */
.row-index {
    margin-top: 12rem;
}
.row-dfa {
    margin-top: 1rem;
}
#row-index .form-inline {
    width: 80%;
    text-align: center;
}
#row-dfa .form-inline {
    width: 100%;
    text-align: center;
}
.form-group {
    width: 100%;
}
#inputFormula {
    width: 100%;
}
.btn-custom {
    background-color: #802433;
    color: white;
}
.btn-custom:hover,
.btn-custom:disabled {
    background-color: rgba(128, 36, 51, 0.8);
    color: white;
}
.sub {
    width: 80%;
}
.sub-dfa {
    width: 100%;
    padding-left: 7rem;
}
/* Custom Color anchors */
.main a {
    color: #802433;
}
.main a:hover {
    color: rgba(128, 36, 51, 0.8);
}
/* Headings color */
h2, h4 {
    color: #802433;
}
/* Spinner */
.spinner-border {
    color: #802433;
    width: 4rem;
    height: 4rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: fit-content;
    /*line-height: 60px; !* Vertically center the text there *!*/
    background-color: #802433;
}
