{% extends "base.html" %}
{% block content %}
<div class="row row-dfa justify-content-md-center" id="row-dfa">
    <form class="form-inline">
        <div class="form-group form-group-lg">
            <div class="col-1">
                <a class="mr-3" href="/">
                <svg class="bi bi-arrow-left" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                  <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg></a>
            </div>
            <div class="col-9">
                <label for="inputFormula" class="sr-only"></label>
                <input type="text" class="form-control form-control-lg" id="inputFormula" placeholder="">
            </div>
            <div class="col-2">
                <button type="submit" id="buttonFormula" class="btn btn-lg btn-light btn-custom">Convert</button>
            </div>
        </div>
    </form>
    <div class="container sub-dfa">
        <small><a href="ltlf_syntax">LTL<sub>f</sub> Syntax</a></small>
        <a style="color:#802433">&middot;</a>
        <small><a href="pltlf_syntax">PLTL<sub>f</sub> Syntax</a></small>
        <a style="color:#802433">&middot;</a>
        <small><a href="/dfa">Random Example</a></small>
    </div>
</div>

<hr/>
<div class="row row-dfa justify-content-md-center" id="row-dfa">
    <img src="{{ url_for('static', filename='tmp/'+automa_name+'.svg') }}">
</div>
{% endblock %}


<!--<hr />-->
<!--<div class="col-xs-1">-->
<!--  <p>Automa corresponding to "{{ formula }}" {% if flag%} with declare assumptions {% endif %}</p>-->
<!--  <img src="{{ url_for('static', filename='tmp/'+automa_name+'.svg') }}">-->
<!--  <p>"{{ encoding }}"</p>-->
<!--</div>-->